.Header {
    background-color: red;
}

#mobileSocials {
    display: none;
}

.socialIcon {
    margin: 0 10px 0 10px;
}

#header {
    position: fixed;
    top: 0px;
    margin: 40px 0;
    display:flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    visibility: hidden; 
} 

.showBackground {
    background-color: rgb(223, 223, 223);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15);
    border-radius: 12px;
} 

/* NEW SHIT THAT POOEY ADDED FOR HAMBURGER */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    font-weight: 500;
  }


nav #navItems {
    list-style: none;
    display: flex;

}

nav ul {
    padding: 5px;
}

nav #navItems li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

#navBarIcon {
    margin: 10px;
}

@media (max-width: 1024px) {
    #socials {
        margin: 0px;
        display: flex;
    }

    nav #navItems li a {
        font-size: 1.2vh;
        font-weight: 700;
    }
}

@media (max-width : 500px) {

    #socials {
        display: none;
    }

    #header {
        position: fixed;
        margin: 20px 10px;
    }

    nav #navItems li a {
        font-size: 2.5vh;
    }

    nav #navItems {
        position: fixed;
        justify-content: center;
        flex-direction: column;
        z-index: 98;
        padding: 12px;
        transition: top 1s ease 0s;
        background-color: rgb(223, 223, 223);
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        height: 50vh;
        width: 100%;
        padding: 0;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15);
    }
      
    nav #navBarIcon {
        display: block;
        position: absolute;
        z-index: 99;
        font-size: 4vh;
    }

    .showBackground {
        background-color: transparent;
    } 

    #mobileSocials {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .mobileSocialIcon {
        padding: 10px 10px;
    }
}

.fa-facebook-f:hover {
    color: #4267B2;
}
.fa-instagram:hover {
    color: #5B51D8;
}
.fa-spotify:hover {
    color: #1DB954;
}
.fa-youtube:hover {
    color: #FF0000;
}
.fa-bandcamp:hover {
    color: #629aa9;
}
.fa-apple:hover {
    color: #555555;
}
.fa-soundcloud:hover {
    color: #F26F23;
}
.fa-bars:hover {
    cursor: pointer;
    color: var(--BUTTON_COLOUR);
}
