
#header {
    position: fixed;
    height: 35px;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 1.5em 0;
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #050505
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7em;
    font-weight: 500;
    width: 100%;
    height: 100%;
  }

  
#mobileSocials {
    padding: 15px;
}

.mobileSocialIcon {
    padding: 15px;
}

nav ul {
    padding: 5px;
    display: flex;
}

nav #navItems {
    list-style: none;
}

nav #navItems li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}


#navBarIcon {
    display: none;
}

.showBackground {
    background-color: rgb(160, 159, 159);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15);
    border-radius: 12px;
} 

/* Tablet Responsiveness */

@media (max-width: 1024px) {
    /* .mobileSocials {
        margin: 0px;
    }

    .mobileSocialIcon {
        padding: 10px;
    }

    nav #navItems li a {
        font-size: 1.2vh;
        font-weight: 700;
    } */

    .hidden {
        visibility:visible; 
        }

    nav {
        width:100%;
        padding: 0 1.5em;
    }
    
    nav #navItems li a {
        font-size: 2.5vh;
    }

    nav #navItems {
        position: fixed;
        justify-content: center;
        flex-direction: column;
        z-index: 99;
        transition: top 1s ease 0s;
        background-color: rgb(223, 223, 223);
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15);
    }
        
    nav #navBarIcon {
        display: block;
        position: absolute;
        z-index: 99;
        font-size: 4vh;
    }

    .showBackground {
        background-color: transparent;
    } 

    #mobileSocials {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileSocialIcon {
        padding: 20px 12px;
        font-size: 2.5vh;
    }

    /* TEST */
    /* .navBar {
        display: none;
      }
      
    .open {
        display: block;
      }
      
    .navBar ul {
        list-style: none;
        padding: 0;
      }
      
    .navBar li {
        padding: 10px;
      } */
}

@media (max-width : 500px) {

    .hidden {
    visibility: hidden; 
    }

    #socials {
        display: none;
    }

    #header {
        position: fixed;
        margin: 20px 10px;
    }


    nav #navItems li a {
        font-size: 2.5vh;
    }

    nav #navItems {
        position: fixed;
        justify-content: center;
        flex-direction: column;
        z-index: 98;
        padding: 12px;
        transition: top 1s ease 0s;
        background-color: rgb(223, 223, 223);
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        height: 105vh;
        width: 100%;
        padding: 0;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15);
    }
      
    nav #navBarIcon {
        display: block;
        position: absolute;
        z-index: 99;
        font-size: 4vh;
    }

    .showBackground {
        background-color: transparent;
    } 

    #mobileSocials {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .mobileSocialIcon {
        padding: 20px 12px;
        font-size: 2.5vh;
    }

    /* Animation */

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.showBackground {
    animation-name: fade-in;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
} 

@keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  li {
    animation-name: slide-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  #mobileSocials  {
    animation-name: slide-in;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }


  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
  .spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  .hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

}

/* HOVER EFFECTS SOCIALS */
.fa-facebook-f:hover {
    color: #4267B2;
}
.fa-instagram:hover {
    color: #5B51D8;
}
.fa-spotify:hover {
    color: #1DB954;
}
.fa-youtube:hover {
    color: #FF0000;
}
.fa-bandcamp:hover {
    color: #629aa9;
}
.fa-apple:hover {
    color: #555555;
}
.fa-soundcloud:hover {
    color: #F26F23;
}
.fa-bars:hover {
    cursor: pointer;
    color: var(--BUTTON_COLOUR);
}
