#contact {
    background: url("/public/textures/background-texture-1-updated.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#contact h3 {
    margin: 40px 0 10px 0;
    font-size: 20px;
}

#contact p {
    font-size: 16px;
    font-weight: 400;
}

.contact-details-wrapper {
    width: 255px;
    margin: 0 auto;
}

.white-bg {
    background-color: white;
    padding: 2px 4px;
}