.show {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 20px 15px;
    font-size: 20px;
    text-align: left;
}

.show:hover {
    background-color: rgb(205, 205, 205);
}

.date {
    font-weight: bold;
}

.location {
    font-size: 17px;
}

.venue {
    font-weight: bold;
}

.middleText {
    text-align: center;
}

.gigInfo {
    color: rgb(117, 117, 118);
    font-size: 17px;
}

.leftText {
    font-size: 20px;
}

@media (max-width: 1024px) {
    .location {
        font-size: 1.1vh;
    }
    
    .venue {
        font-size: 1.3vh;
    }
    
    
    .gigInfo {
        font-size: 1.1vh;
    }
    
    .leftText {
        font-size: 1.3vh;
    }

    .show {
        font-size: 1.3vh;
    }
    
    .date {
        font-size: 1.3vh;
    }
}


@media (max-width: 500px) {
    
    .location {
        text-align: center;
        font-size: 1.8vh;
    }
    
    .venue {
        text-align: center;
        margin: 10px 0 0 0;
        font-size: 2vh;
    }
    
    .middleText {
        text-align: center;
    }
    
    .gigInfo {
        text-align: center;
        font-size: 1.8vh;
    }
    
    .leftText {
        text-align: center;
        margin: 5px 0 0 0;
        font-size: 1vh;
    }

    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1vh;
    }
    
    .date {
        font-weight: bold;
        font-size: 2vh;
    }
    
}