.show {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    text-align: left;
    font-size: 18px;
    border-bottom: 1px black solid;
}

.showDetails {
    width: 65%;
}

.showButtonWrapper {
    margin: auto 0;
}

.showBottomText {
    display: flex;
    justify-content: space-between;
}

.show:hover {
    background-color: rgb(234, 234, 234);
}

.venue {
    width: 60%;
    margin-right: 15px;
}

.location {
    width: 40%;
    white-space: nowrap;
}


.gigInfo {
    color: rgb(117, 117, 118);
}

@media (max-width: 1024px) {
    .showBottomText {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }

    .location {
        width: 90%;
    }
    
    .venue {
        width: 90%;
    }
}


@media (max-width: 580px) {

    .showBottomText {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .show {
        flex-flow: column;
        align-items: center;
    }

    .showDetails {
        width: 100%;
        text-align: center;
    }

    .venue {
        text-align: center;
        margin: 0;
    }

    .location {
        text-align: center;
    }   
}