#video {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.videoControls {
    margin: auto 0;
}

.videoControl {
    color: #e2e2e2;
}

.videoControl:hover {
    color: #868686;
}

#moreVideos {
    margin: 40px 0;
} 

.videoIndexLine {
    display: inline-block;
    width: 30px;
    margin: 1%;
    height: 5px;
    background-color: #e2e2e2;
    border: none;
}


@media (max-width: 1024px) {
    iframe {
        width: 100%;
        height: 400px;
    }
}
@media (max-width: 500px) {

     #video {
        margin: 0;
    }
    iframe {
        width: 100%;
        height: 300px;
    }
    
    
}