#watch {
    color: white;
    background-image: url("/public/textures/redBgUpdated.png");
    background-size: cover;
    background-attachment: fixed;
}

.videoControls {
    margin: auto 0;
}

.videoControl {
    color: #e2e2e2;
}

.videoControl:hover {
    color: #868686;
}

#moreVideos {
    margin: 40px 0;
} 

.videoIndexLine {
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: #e2e2e2;
    border: none;
}

iframe {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
}