#about {
    background-image: url("/public/textures/redBgUpdated.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#bio {
    text-align: left;
    font-size: 18px;
}

.bioSentence {
    margin-bottom: 25px;
}