.shows{
    border-top: 1px solid black;
}

#tour {
    padding: 2vh 13%;
}


.bandImage{
    width: 500px;
    margin-bottom: 30px;
}

.bandImage:hover{
    animation-name: tilt-shaking;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(0.5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
  }