#tour {
    color: white;
    background-image: url("/public/textures/redBgUpdated.png");
    background-size: cover;
    background-attachment: fixed;
}

.shows {
    border-top: 1px solid black;
}

