#tour {
    background-color: #D32719;
    color: white;
    padding-bottom: 50px;
}

.shows {
    border-top: 1px solid black;
}

.bandImage{
    width: 50%;
    margin-bottom: 30px;
}

.bandImage:hover{
    animation-name: tilt-shaking;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@media (max-width: 1024px) {
    .bandImage{
        width: 70%;
        margin-bottom: 30px;
    }
}

@media (max-width: 580px) {
    .bandImage{
        width: 100%;
        margin-bottom: 30px;
    }
}
