a {
   color: inherit;
   text-decoration: none;
}

.merchImage {
    width: 100%;
    min-width: 120px;
}

.merchItem {
    width: 200px;
}

@media (max-width: 1024px) {
    .merchImage {
        width: 100%;
        min-width: 50px;
    }
    
    .merchItem {
        width: 140px;
    }
}
