.Button {
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    max-height: 45px;
    min-width: 120px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    background-color: #ca0000;
    border: 1px solid #ca0000;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    color: white;
    transition: all 0.5s;
}

.Button:hover,
.Button:active {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform: scale(1.108);
}

.Button:active {
    opacity: .5;
}

.BuyAlbumButton {
    transform: scale(1.108);
    box-shadow: none;
}

.BuyAlbumButton:hover {
    color: white;
    transform: scale(1.208);
    box-shadow: none;
}

.moreVideosButton {
    background-color: #ca0000;
    border: 1px solid #ca0000;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    color: white;
    transition: all 0.5s;
}

.moreVideosButton:hover {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform: scale(1.108);
}

.soldOut {
    box-shadow: none;
    cursor: default;
    border: none;
    background-color: #7d7d7d88;
    color: rgb(195, 195, 195);
}

.soldOut:hover,
.soldOut:active {
    box-shadow: none;
    transform: none;
}