.App {
  text-align: center;
}

@media (max-width: 500px) {
  .App {
    margin: 0;
    width: 100%;
  }
}

* {
  scroll-margin-top: calc(35px + 43px); /* header width + section padding-top */
}

.section-padding {
  padding: 48px 16px 50px;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  position: relative;
}

.section-content {
  align-self: center;
}

.section-title-wrapper {
  height: 15vh;
}

.section-title {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 415px) {
  .section-padding {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 1023px) {
  .section-padding {  
    padding: 75px 16px 50px;
    max-width: 880px;
    margin: 0 auto;
  }

  .section-title-wrapper {
    height: 15vh;
  }
}

