body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --BUTTON_COLOUR: #FF0000;
    margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

p { 
  margin: 0;
}

section {
  padding: 2vh 13%;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 50px;
  margin-bottom: 70px;
}

@media (max-width: 500px) {
  h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 4vh;
    margin-bottom: 40px;
  }

  section {
    padding: 5% 5%;
    margin: 0;
  }
  
}