#merch {
    padding: 2vh 13%;
}

#merchItems {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1.5em;
    margin-bottom: 8vh;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width:500px) {
    #merchItems {
        grid-template-columns: 1fr;
    }
}

