#merch {
    background: url("/public/textures/background-texture-1-updated.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#merchItems {
    display: grid;
    grid-column-gap: inherit;
    grid-row-gap: 1.5em;
    margin-bottom: 8vh;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width:1024px) {
    #merchItems {
        grid-template-columns: 1fr 1fr;
    }
}

.fa-arrow-down {
    margin-left: 10px;
}